*.pyc
*.swp
*~
results/*
# data/*
log/*
figures/*
doc/*
!doc/contents
doc/contents/*
!doc/contents/single_neuron_spike_analysis_tutorial_conents.tex
!doc/contents/single_neuron_spike_analysis_tutorial_conents.pdf
!doc/contents/Makefile
